﻿<div id="contact-page" class="container">
    <div class="row">
        <div class="col-sm-1"></div>

        <div class="col-sm-9">
            <div class="contact-form">
                <h2 class="title text-center">Оплата</h2>
                <label style="color: #696763; font-size: 18px;">Оплата производится наличными курьеру, при получении заказа. <br />Точную стоимость сообщим СМС-сообщением в день доставки.<br /><br /> Дополнительную информацию можно получить по телефону: +7(383)-381-51-49</label>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>