﻿<div ng-controller="blogListCtrl as vm">
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-9">
                <div class="blog-post-area">
                    <h2 class="title text-center">Последнее в нашем блоге</h2>


                    <div class="single-blog-post">
                        <h3>Польза форели</h3>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-calendar"></i>12 февраля, 2016</li>
                            </ul>
                        </div>
                        <a>
                            <img src="Content/images/blog/blog-photo2.png" alt="">
                        </a>
                        <div class="blog-post">
                            <div class="blog-post-title">
                                <p>
                                    Форель является источником многих питательных веществ, полезных для организма человека. Прежде всего, это полиненасыщенные Омега-3 жиры. Эти жиры являются жизненно важными для нормального функционирования головного мозга, состояния кожи, волос, уменьшают накопление вредных веществ в организме. Омега-3 ненасыщенные жиры снижают уровень плохого холестерина, что предотвращает многие сердечно-сосудистые заболевания, в том числе и атеросклероз, инсульт и инфаркт.Кроме того омега-3 жиры обладают противовоспалительными свойствами и будут полезны при воспалительных заболеваниях костей, в частности артрита.
                                </p>
                            </div>
                            <div class="blog-post-inner">
                                <p>
                                    <br />Форель является хорошим источником минералов, включая селен и железо. Селен необходим для нормальной функции щитовидной железы, для иммунной системы. Селен также один из мощных антиоксидантов, который помогает бороться с вредными радикалами, в частности, тяжелыми металлами.<br /> Железо необходимо для нормального состава крови, предупреждения анемии. Влияет этот элемент и на внешний вид: волосы и ногти также нуждаются в железе.
                                    <br />Присутствуют в форели также такие важные элементы, как йод, магний, кальций, калий и, конечно, фосфор. Форель источник таких витаминов, как витамин А. D, ряда витаминов группы В. Витамин В12, это витамин, который плохо усваивается из биодобавок. Он необходим для нормальной функции головного мозга, развития костей и мышц, нормальной работы пищеварительного тракта, профилактики сердечно-сосудистых заболеваний, для поддержания организма в тонусе.
                                    <br />Форель очень важна детскому организму. Полезна эта рыба и беременным женщинам. Форель относится к низкокалорийным продуктам, поэтому может не обеспечить полного насыщения, как например, мясо. Однако это является недостатком только для любителей плотного обеда. Те же, кто следит за фигурой, останутся непременно довольны – диетологи рекомендуют употреблять форель в целях похудения.
                                    Витамин В3 – ниацин, важен для нервной системы и мозга.
                                    Витамин В6 нужен женщинам, может улучшить состояние во время ПМС и менопаузы.
                                    Форель очень полезно включить в свое меню людям:
                                    С риском сердечно-сосудистых заболеваний;
                                    С высоким уровнем гомоцистеина;
                                    У кого сухая кожа, волосы, слоятся ногти;
                                    С заболеваниями костей, в частности артритом;
                                    Женщинам, желающим забеременеть;
                                    Мужчинам для увеличения подвижности сперматозоидов;
                                    У кого слабая иммунная система;
                                    Страдающим сахарным диабетом или гипогликемией;
                                </p>
                            </div>
                        </div>
                        <a class="btn btn-primary blog-post-button">Читать дальше</a>
                    </div>
                    <div class="single-blog-post">
                        <h3>Форель в кулинарии</h3>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-calendar"></i>5 февраля, 2016</li>
                            </ul>
                        </div>
                        <a>
                            <img src="Content/images/blog/blog-photo3.png" alt="">
                        </a>
                        <div class="blog-post">
                            <div class="blog-post-title">
                                <p>
                                    В кулинарии используются все виды форели. К этой рыбе можно применять любой вид кулинарной обработки: варить, жарить, тушить, запекать, солить.
                                </p>
                            </div>
                            <div class="blog-post-inner">
                                <p>
                                    Форель – это любимая рыба всех диетологов мира. Несмотря на то, что форель относится к жирным рыбам, в 100 граммах этого продукта содержится всего : 88.0 ккал. И в то же время 20 грамм белка.Диетологи рекомендуют включать форель в свое меню два, три раза в неделю.<br />
                                    Форель лидирует среди диетических продуктов, обладает всеми свойствами необходимыми для полноценного функционирования организма. Белок легко усваивается, а жир не откладывается, а наоборот, выполняет роль катализатора в расщеплении жиров. Форель способствует похудению. Правильное применение для снижения веса – это сочетание с зеленью, овощами, специями, лимонным соком.<br />
                                    • Калорийность: 88.0 ккал<br />
                                    • Белки: 20 г<br />
                                    • Жиры: 2.0 г<br />
                                </p>
                            </div>
                        </div>
                        <a class="btn btn-primary blog-post-button">Читать дальше</a>
                    </div>

                    <div class="single-blog-post">
                        <h3>Форель в кулинарии</h3>
                        <div class="post-meta">
                            <ul>
                                <li><i class="fa fa-calendar"></i>28 января, 2016</li>
                            </ul>
                        </div>
                        <a>
                            <img src="Content/images/blog/blog-photo1.png" alt="">
                        </a>
                        <div class="blog-post">
                            <div class="blog-post-title">
                                <p>
                                    Форель на Руси была пищей аристократов и знати. Она вкусна, нежна и полезна. В народе называется «красная рыба» и входит в группу элитных продуктов.
                                </p>
                            </div>
                            <div class="blog-post-inner">
                                <p>
                                    Для жизни форели нужно несколько основных условий: это холодная чистая вода, наличие хорошей еды, место где можно спрятаться от хищников и чистый гравий, чтобы отложить икру. Отсюда можно сделать вывод, что форель один из самых экологически чистых видов рыб.<br />
                                    Форель – уникальная рыба. При помощи этой рыбы даже осуществляют диагностику водной среды (при наличии токсических веществ форель погибает).
                                </p>
                            </div>
                        </div>
                        <a class="btn btn-primary blog-post-button">Читать дальше</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.blog-post-button').click(function () {
        $(this).parent().find('.blog-post-inner').stop().slideToggle();
        if ($(this).html() == "Читать дальше") {
            $(this).html("Свернуть");
        } else {
            $(this).html("Читать дальше");
        }
    });
</script>