﻿<section ng-controller="orderShowCtrl as vm" id="do_action">
    <div class="container">
        <div class="heading">
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-7">
                <h2 style="padding-left: 20px;">Ваш заказ успешно оформлен </h2>

                <div style="padding-left: 22px;">В ближайшее время с вами свяжется наш менеджер для подтверждения заказа</div>

                <div class="total_area">
                    <ul>
                        <li>Имя <span>{{vm.order.FirstName}}</span></li>
                        <li>Телефон <span>{{vm.order.PhoneNumber}}</span></li>
                        <li>Количество <span>{{vm.order.Count}}</span></li>
                        <li>Фамилия <span>{{vm.order.LastName}}</span></li>
                        <li>Отчество <span>{{vm.order.Patronymic}}</span></li>
                        <li>Адрес <span>{{vm.order.Address}}</span></li>
                        <li>
                            <p>Комментарий к заказу</p>
                            <div>
                                <textarea name="message" placeholder="" rows="6" style="min-width: 100%;" readonly>{{vm.order.Comment}}</textarea>
                            </div>
                        </li>
                        <li><a href="#/ordershow/{{vm.order.AlternativeId}}">Ссылка на ваш заказ </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</section>