﻿<section id="cart_items" ng-controller="orderCreateCtrl as vm">
    <div class="container">
        <h2>Оформление заказа</h2>
        <div class="review-payment">
            <h2>Заказ и Стоимость</h2>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Товар</td>
                        <td class="description">Описание</td>
                        <td class="price">Цена</td>
                        <td class="quantity">Количество</td>
                        <td class="total">Сумма</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="cart_product">
                            <a href="@Url.Action(" Index", "Product" )"><img src="Content/images/home/product1.png" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <h4><a href="@Url.Action(" Index", "Product" )">Радужная форель</a></h4>
                        </td>
                        <td class="cart_description">
                            <h4><a>850 р.</a></h4>
                        </td>
                        <td class="cart_quantity">
                            <div class="cart_quantity_button">
                                <span class="cart_quantity_up" id="addToCartButton" ng-click="vm.cartService().addToCart() "> + </span>
                                <input class="cart_quantity_input" id="totalCount" name="quantity" ng-value="vm.cartService().getAmount()" autocomplete="off" size="2" min="0" max="100" type="text" readonly>
                                <span class="cart_quantity_down" id="deleteFromCartButton" ng-click="vm.cartService().deleteFromCart() "> - </span>
                            </div>
                        </td>
                        <td class="cart_total">
                            <p class="cart_total_price" id="totalPrice">{{vm.cartService().getPrice()}}</p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="shopper-informations">
            <form id="orderForm" name="orderForm" novalidate="novalidate">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="shopper-info">
                            <p>Ваши данные</p>
                            <input class="text-box single-line" id="FirstName" name="FirstName" placeholder="Имя*" type="text" 
                                   ng-class="{'error-field':orderForm.FirstName.$invalid && orderForm.FirstName.$dirty}"
                                   ng-minlength="2"
                                   required ng-model="vm.order.FirstName">
                            <input class="text-box single-line" id="PhoneNumber" name="PhoneNumber" placeholder="Телефон*" type="tel"
                                    ng-model="vm.order.PhoneNumbe"
                                    ng-minlength="7"
                                    ng-class="{'error-field':orderForm.PhoneNumber.$invalid && orderForm.PhoneNumber.$dirty}"
                                    required>
                            <input class="text-box single-line" id="LastName" name="LastName" placeholder="Фамилия" type="text" ng-model="vm.order.LastName">
                            <input class="text-box single-line" id="Patronymic" name="Patronymic" placeholder="Отчество" type="text" ng-model="vm.order.Patronymic">
                            <input class="text-box single-line" id="Email" name="Email" placeholder="Email" type="text" ng-model="vm.order.Email">

                        </div>
                    </div>
                    <div class="col-sm-4 clearfix">
                        <div class="bill-to">
                            <p>Доставка</p>
                            <div class="form-one">
                                <input class="text-box single-line" id="Address" name="Address" placeholder="Адрес" type="text" ng-model="vm.order.Address" >                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="order-message">
                            <p>Комментарий к заказу</p>
                            <textarea cols="20" id="Comment" name="Comment" placeholder="Ваш комментарий к заказу" rows="12" ng-model="vm.order.Comment"></textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <h4 style="font-size: 14px;"><span style="color: red;">Внимание!</span> Цена приблизительная, т. к. рассчитана из среднего веса 1ой рыбы. Вес рыбы колеблется от 1.2 до 2 кг</h4>
                </div>
                <div>
                    <h4 style="font-size: 14px;"><span style="color: red;">{{vm.message}}</span></h4>
                </div>
                <div id="orderButtons" style="">
                    <button id="create-button" class="btn btn-primary" ng-click="vm.submit()" ng-disabled="orderForm.$invalid || vm.cartService().getAmount()==0">Оформить заказ</button>
                </div>
            </form>
        </div>
    </div>
</section>