﻿<!DOCTYPE html>
<html ng-app="sibFresh">
<head lang="en">
    <meta charset="UTF-8">
    <title>Sib-Fresh</title>

    <!-- Style sheets -->
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
    <link href="Content/responsive.css" rel="stylesheet" />
    <link href="Content/main.css" rel="stylesheet" />
    <link href="Content/font-awesome.min.css" rel="stylesheet" />

    <!-- Library Scripts -->
    <script src="Scripts/jquery-2.2.1.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-resource.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-cookies.js"></script>

    <!-- Application Script -->
    <script src="app/app.js"></script>


    <!--Backend Services -->
    <script src="Services/backend/backend.services.js"></script>
    <script src="Services/backend/productBackendService.js"></script>
    <script src="Services/backend/orderBackendService.js"></script>
    <!--Common Services -->
    <script src="Services/common/common.services.js"></script>
    <script src="Services/common/cartCommonService.js"></script>

    <!-- Controllers -->
    <script src="app/products/productListCtrl.js"></script>
    <script src="app/products/productShowCtrl.js"></script>
    <script src="app/blog/blogListCtrl.js"></script>
    <script src="app/cart/cartCtrl.js"></script>
    <script src="app/orders/orderCreateCtrl.js"></script>
    <script src="app/orders/orderShowCtrl.js"></script>

</head>

<body>
    <header id="header" ng-controller="cartCtrl as vm">
        <!--header-->
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="#/products"><img class="logo-picture" src="Content/images/home/fish.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="#/products" class="maintab">Главная</a></li>
                                <li><a href="#/blog" class="blogtab">Блог</a></li>
                                <li><a href="#/delivery" class="deliverytab">Доставка</a></li>
                                <li><a href="#/payment" class="paymenttab">Оплата</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mainmenu_cart pull-right">
                            <ul class="nav navbar-nav">
                                <li>
                                    <button onclick="window.location.href='#/ordercreate'" class="btn btn-primary" style="margin-top: -5px;"><i class="fa fa-shopping-cart"></i> Корзина <b id="cartElement">({{vm.cartService().getAmount()}}шт.)</b></button>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->    
    <div id="content" ng-view></div>  
    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <a href="#/products"><img class="logo-picture-footer" src="Content/images/home/fish.png" alt="" /></a>
                            <p>Компания по доставке свежей рыбы</p>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="footer-info">
                            <h4 onclick="javascript:window.location='mailto:?subject=Заказ рыбы&body=Хотел бы связаться с вами для... '">Sibfreshzx@gmail.ru </h4>
                            <h4>+7(383)-381-51-49</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer><!--/Footer-->
    <script type="text/javascript">
        //footer прилепили к низу страницы
        $('#content').css('min-height', $(window).height() - $('#header').height() - $('#footer').height());
        $(window).resize(function () {
            $('#content').css('min-height', $(window).height() - $('#header').height() - $('#footer').height());
        });
    </script>

</body>

</html>